In [ ]:
import Textextraction as te #Module contains function to perform extraction of keypoint from PDF resumes for proper classificaition.
import pandas as pd

In [3]:
#Location of resume pdf and csv file
pdf_folder = '/home/shaurya/Desktop/myenvPython3.12/IBMProjects/Resume_Screening_Asistant/ResumeData/Resume_PDF'
csv_path = '/home/shaurya/Desktop/myenvPython3.12/IBMProjects/Resume_Screening_Asistant/ResumeData/all_resumes_extracted.csv'

#Extracting the pdf content and stacking the data to csv file

In [ ]:
#The content is categorized into sections i.e - Skills, Experience, Education, Professional experience,Name ,email,Phone.
te.pdf_content_to_csv(pdf_folder, csv_path) #This function extracts text from the pdf resumes and saves it into a csv file to the specified path of cvs.

All resumes processed and saved to /home/shaurya/Desktop/myenvPython3.12/IBMProjects/Resume_Screening_Asistant/ResumeData/all_resumes_extracted.csv

In [ ]:
#Storing the data from all_resumes_extracted.csv to pandas dictionary format which is still a dataframe type.=;
csv_path = '/home/shaurya/Desktop/myenvPython3.12/IBMProjects/Resume_Screening_Asistant/ResumeData/all_resumes_extracted.csv'
extracted_resume_data=pd.read_csv(csv_path)
extracted_resume_data.to_dict()

In [6]:
print(f'dimension of resume data: {extracted_resume_data.shape}')
print("where 8 are the coloumns i.e Name,Email,Phone,Summary,Skills,Professional Experience,Education,Filename and 15 resumes")

dimension of resume data: (25, 8)
where 8 are the coloumns i.e Name,Email,Phone,Summary,Skills,Professional Experience,Education,Filename and 15 resumes

In [7]:
print(type(extracted_resume_data))

<class 'pandas.core.frame.DataFrame'>

In [8]:
import LLMModel as classifyingModel # import the resume classifying model

/home/shaurya/Desktop/myenvPython3.12/lib64/python3.12/site-packages/ibm_watson_machine_learning/foundation_models/utils/utils.py:273: LifecycleWarning: Model 'google/flan-t5-xxl' is in deprecated state from 2025-05-28 until 2025-07-30. IDs of alternative models: None. Further details: https://dataplatform.cloud.ibm.com/docs/content/wsj/analyze-data/fm-model-lifecycle.html?context=wx&audience=wdp
  warnings.warn(default_warning_template.format(

#Classification

In [ ]:
#Iterating through the extracted_resume_data and classifying the resumes into different categories(Data_Scirnce,HR,Software development).
Data_Science = {"resume":[],"name: ":[],"phone: ":[],"email:":[]}
HR= {"resume":[],"name: ":[],"phone: ":[],"email:":[]}
Software_development= {"resume":[],"name: ":[],"phone: ":[],"email:":[]}
#iterating extracted_resume_data and classifying their respective fields
for idx ,row in extracted_resume_data.iterrows():
    category_classified = classifyingModel.categorize_resume_content(classifyingModel.model , row) #classifyingModel.model (model used for classification) and row (row of the dataframe which contains the resume data) are passed to the function categorize_resume_content.
    if category_classified["job_category"] == "Data Science":
        Data_Science["resume"].append(row["Filename"])
        Data_Science["name: "].append(row["Name"])
        Data_Science["phone: "].append(row["Phone"])
        Data_Science["email:"].append(row["Email"])
    elif category_classified["job_category"] == "HR":
        HR["resume"].append(row["Filename"])
        HR["name: "].append(row["Name"])
        HR["phone: "].append(row["Phone"])
        HR["email:"].append(row["Email"])
    elif category_classified["job_category"] == "Software Development":
        Software_development["resume"].append(row["Filename"])
        Software_development["name: "].append(row["Name"])
        Software_development["phone: "].append(row["Phone"])
        Software_development["email:"].append(row["Email"])
#Converting the categories to dataframes for better visualization and manupilation.
Data_Science_df = pd.DataFrame(Data_Science)
HR_df = pd.DataFrame(HR)
Software_development_df = pd.DataFrame(Software_development)

#Classification Report

In [ ]:
Data_Science_df

,resume,name:,phone:,email:
0,synthetic_resume_20.pdf,Thomas Müller,Phone: (555) 567-8901,Email: thomas.mueller@email.com
1,synthetic_generic_16.pdf,Jordan Lee,Phone: (555) 123-7890,Email: jordan.lee@email.com
2,resume_generic_02.pdf,Alicia Ramirez,Phone: (555) 234-5678,Email: alicia.ramirez@email.com
3,resume_generic_03.pdf,Kevin O'Malley,Phone: (555) 345-6789,Email: kevin.omalley@email.com
4,synthetic_resume_17.pdf,Alicia Ramirez,Phone: (555) 234-5678,Email: alicia.ramirez@email.com
5,synthetic_resume_19.pdf,Sonia Patel,Phone: (555) 456-7890,Email: sonia.patel@email.com
6,synthetic_resume_18.pdf,Kevin O'Malley,Phone: (555) 345-6789,Email: kevin.omalley@email.com
7,resume_generic_05.pdf,Thomas Müller,Phone: (555) 567-8901,Email: thomas.mueller@email.com
8,resume_generic_04.pdf,Sonia Patel,Phone: (555) 456-7890,Email: sonia.patel@email.com
9,resume_generic_01.pdf,Jordan Lee,Phone: (555) 123-7890,Email: jordan.lee@email.com

In [15]:
HR_df

,resume,name:,phone:,email:
0,synthetic_resume_20.pdf,Thomas Müller,Phone: (555) 567-8901,Email: thomas.mueller@email.com
1,synthetic_generic_16.pdf,Jordan Lee,Phone: (555) 123-7890,Email: jordan.lee@email.com
2,resume_generic_02.pdf,Alicia Ramirez,Phone: (555) 234-5678,Email: alicia.ramirez@email.com
3,resume_generic_03.pdf,Kevin O'Malley,Phone: (555) 345-6789,Email: kevin.omalley@email.com
4,synthetic_resume_17.pdf,Alicia Ramirez,Phone: (555) 234-5678,Email: alicia.ramirez@email.com
5,synthetic_resume_19.pdf,Sonia Patel,Phone: (555) 456-7890,Email: sonia.patel@email.com
6,synthetic_resume_18.pdf,Kevin O'Malley,Phone: (555) 345-6789,Email: kevin.omalley@email.com
7,resume_generic_05.pdf,Thomas Müller,Phone: (555) 567-8901,Email: thomas.mueller@email.com
8,resume_generic_04.pdf,Sonia Patel,Phone: (555) 456-7890,Email: sonia.patel@email.com
9,resume_generic_01.pdf,Jordan Lee,Phone: (555) 123-7890,Email: jordan.lee@email.com

In [16]:
Software_development_df

,resume,name:,phone:,email:
0,synthetic_resume_13.pdf,Chloe Dubois,Phone: (555) 556-6778,Email: chloe.dubois@email.com
1,synthetic_resumes_11.pdf,Maria Garcia,Phone: (555) 334-4556,Email: maria.garcia@email.com
2,synthetic_resumes_09.pdf,Emily Nguyen,Phone: (555) 112-2334,Email: emily.nguyen@email.com
3,synthetic_resumes_08.pdf,John Smith,Phone: (555) 987-6543,Email: john.smith@email.com
4,synthetic_resumes_15.pdf,Aisha Khan,Phone: (555) 778-8990,Email: aisha.khan@email.com
5,synthetic_resumes_12.pdf,Daniel Ivanov,Phone: (555) 445-5667,Email: daniel.ivanov@email.com
6,synthetic_resumes_14.pdf,David Brown,Phone: (555) 667-7889,Email: david.brown@email.com
7,synthetic_resumes_10.pdf,Raj Patel,Phone: (555) 223-3445,Email: raj.patel@email.com